/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: gray;
  font-family: system-ui, sans-serif;
  margin: 0;
}

/* Navigation Bar */
nav {
  background-color: white;
  padding: 8px 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#destinations,
#actions {
  display: flex;
  gap: 16px;
  align-items: center;
}

nav button {
  background-color: #ea4c89;
  border-radius: 8px;
  padding: 10px 16px;
  border: 0;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

/* Hero Section */
section#hero {
  height: 460px;
  background-color: black;
  color: white;
  padding: 24px 72px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#headers h1 {
  font-size: 32px;
  margin-bottom: 8px;
}

#headers h2 {
  font-size: 16px;
  margin-top: 0;
}

input[type="text"] {
  height: 58px;
  width: 80%;
  max-width: 600px;
  border-radius: 29px;
  border: 0px;
  padding: 0 24px;
  margin: 20px 0;
}

#trending {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 50px 25px;
}

#trending p {
  background-color: white;
  color: black;
  border-radius: 50px;
  padding: 6px 15px;
}

/* Subnav Buttons */
#subnav {
  padding: 32px 72px 0;
  background-color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#subnav button {
  border-radius: 8px;
  padding: 10px 16px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
}

/* Main Content Area */
main {
  background-color: white;
  padding: 32px 72px;

  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

/* Card Styles */
.card {
  width: 355px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.img-placeholder {
  width: 100%;
  height: 270px;
  background-color: gray;
  border-radius: 8px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 12px 0;
}